#list {
	width: 100%;
    max-width: 40em;
    box-shadow: 0px 0px 56px 6px rgba(0,0,0,0.75);
}

.location {
	padding-left: 2em !important;
}

.activeStatus {
	color: #00ff74 !important;
}

.inactiveStatus {
	color: red !important;
}
